html
 {
 
  height: 100% !important;
}

.container {
   min-height: 1200px !important;
   padding-top: 20px;
}


.row {
  margin: 0px;
}

h1,
h4,
h5,
p {
  margin: 0px;
}

.btn {
  margin: 20px;
}

.stock {
  margin: 5px;
  padding: 10px !important;
  border-radius: 25px;
  color: black;
}

header {
  height: 150px;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

#resultsSection {
  padding-left: 50px;
  padding-right: 50px;
  
}

.modal {
  max-height: 100%;
  overflow: visible;
}

.collection a.collection-item:not(.active):hover {
  background-color: #3b6978;
  color: whitesmoke;
  
}

.collection a.collection-item:not(.active):hover {
  background-color: #3b6978;
  color: whitesmoke;
  
}